<section>
    <div class="above-footer container is-fluid">
        <div class="columns is-multiline is-vcentered">
            <div class="column is-6 newsletter has-text-centered">
                <h2 class="is-size-5 has-text-weight-bold title">{{ T "sign_up_newsletter"}}</h2>
                <div class="field has-addons has-addons-centered">
                    <div class="control">
                        <input class="input" type="text" placeholder="Your email">
                    </div>
                    <div class="control">
                        <a class="button is-black">
                            {{ T "sign_up_now" }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="column is-6 has-text-centered">
                <h3 class="is-size-5 has-text-weight-bold title">Follow us on Instagram</h3>
                <a class="bigger button is-black is-uppercase">{{ T "follow_now" }}</a>
            </div>
        </div>
    </div>
</section>
<div class="footer2">
    <div class="container is-fluid">
        <div class="columns is-multiline is-vcentered">
            <div class="column is-2 is-size-4 has-text-centered">
                    <span class="icon has-text-white">
                        <i class="fab fa-facebook-f"></i>
                    </span>
                <span class="icon has-text-white">
                        <i class="fab fa-twitter"></i>
                    </span>
                <span class="icon has-text-white">
                        <i class="fab fa-instagram"></i>
                    </span>
            </div>
            <div class="column is-8">
                <div class="links">
                    <a href="/pages/privacy">{{ T "privacy" }}</a>
                    <a href="/pages/tac">{{ T "tac" }}</a>
                    <a href="/pages/tac">{{ T "careers" }}</a>
                    <a href="/pages/tac">{{ T "sitemap" }}</a>
                    <a href="/pages/tac">{{ T "about_us" }}</a>
                    <a href="/pages/tac">{{ T "advertise" }}</a>
                </div>
            </div>
            <div class="column is-12 has-text-centered">
                    <span class="has-text-white is-size-7 has-text-weight-bold">
                        {{ T "also_available_in" }}:
                    </span>
            </div>
            <div class="column is-12 has-text-centered">
                {{ if .Params.lang_group_id }}
                {{ range $.Site.GetAllLangVersionsPageIds .Params.lang_group_id}}
                <a href="{{ .Permalink }}" class="button is-primary is-inverted is-outlined is-small">{{ $lang:= index $.Site.GetAllLanguages .Lang }}{{ $lang.lang_name}}</a>
                {{ end }}
                {{ else }}
                {{ range $key,$value := $.Site.GetAllLanguages }}
                <a href="{{ $.Site.BaseURL}}{{ $key }}" class="button is-primary is-inverted is-outlined is-small">{{ $value.lang_name }}</a>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
