<nav role="navigation" aria-label="main navigation">
    <div class="container is-desktop top-nav">
        <div class="columns is-mobile is-gapless is-marginless is-vcentered">
            <div class="column is-1-desktop is-1-mobile has-text-left">
                <div class="bars-border">
                    <a href="#slide-mega-menu">
                        <span class="bars-icon icon has-text-black">
                            <i class="fas fa-bars"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="column is-10-desktop is-10-mobile has-text-centered">
                <a class="has-text-black" href="{{ .Site.BaseURL }}">
                    <div class="mid-header is-uppercase is-bold">{{ .Site.Params.menu_title }}</div>
                </a>
            </div>
            <div class="column is-1-desktop is-1-mobile has-text-centered-mobile has-text-right-desktop">
                <span class="search-icon icon has-text-centered">
                    <i class="fas fa-search"></i>
                </span>
            </div>
        </div>
    </div>
</nav>
<div class="modal" id="search-box-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="search-box">
            <gcse:searchbox-only></gcse:searchbox-only>
            <div class="close" id="search-box-close"></div>
        </div>
    </div>
</div>
