{{ $paginator := .Paginator }}
{{ $lite_pages := $paginator.BulkLitePages .Site}}
{{ $lite_pages_length := len $lite_pages }}
{{ $first_large_post := index $lite_pages 0 }}
{{ $second_3_posts := .Site.LitePagesSlice $lite_pages 1 4 }}
{{ $third_12_posts := .Site.LitePagesSlice $lite_pages 5 14 }}
{{ $second_large_post := index $lite_pages 15 }}
{{ $trending := .Site.LitePagesSlice $lite_pages 16 19 }}
{{ $fourth_rest_posts := .Site.LitePagesSlice $lite_pages 20 1000 }}

{{ partial "large-post.html" $first_large_post }}
<section class="below-hero">
    <div class="container is-fluid">
        <div class="columns">
            {{ range $second_3_posts }}
            <div class="column">
                <article class="has-text-centered">
                    <a href="{{ .Permalink }}">
                        <h2 class="has-text-black is-size-5">
                            {{ .Title }}
                        </h2>
                    </a>
                </article>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ if gt (len $third_12_posts) 0 }}
<section class="article-list">
    <div class="container is-fluid">
        <div class="columns is-multiline">
            <div class="column is-12 is-bold is-uppercase has-text-centered">
                <h1 class="article-list-title is-family-secondary">
                    {{ T "first_list_title" }}
                </h1>
            </div>
            {{ range $third_12_posts }}
            <div class="column is-4">
                <a href="{{ .Permalink }}">
                    <div class="image" style="background-image: url({{ .Image }})">
                    </div>
                </a>
                <a href="{{ .Permalink }}">
                    <h2 class="title has-text-centered">
                        {{ .Title }}
                    </h2>
                </a>
                <div class="summary has-text-centered">
                    {{ .Summary }}
                </div>

            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ if $second_large_post }}
{{ partial "large-post.html" $second_large_post }}
{{ end }}
{{ if gt (len $fourth_rest_posts) 0 }}
<section class="article-list">
    <div class="container is-fluid">
        <div class="columns is-multiline">
            <div class="column is-12 is-bold is-uppercase has-text-centered">
                <h1 class="article-list-title is-family-secondary">
                    {{ T "second_list_title" }}
                </h1>
            </div>
            {{ range $fourth_rest_posts }}
            <div class="column is-4">
                <div class="image" style="background-image: url({{ .Image }})">

                </div>
                <h2 class="title has-text-centered">
                    {{ .Title }}
                </h2>
                <div class="summary has-text-centered">
                    {{ .Summary }}
                </div>

            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ if gt (len $trending) 0 }}
<section class="trending">
    <div class="container is-fluid">
        <div class="columns is-multiline is-vcentered">
            <div class="column is-12 has-text-centered is-bold">
                <h1 class="header-title is-uppercase">{{ T "read_this_next" }}</h1>
            </div>
            {{ range $trending }}
            <div class="column is-4">
                <div class="parent">
                    <div class="trending-image" style="background-image: url({{ .Image }})">
                        a
                    </div>
                    <div class="title">
                        {{ .Title }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
