<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ block "paginator" . }}
{{ end }}
<head>
    <meta charset="utf-8">
    {{ partial "alternative-languages.html" . }}
    {{ block "robotsmeta" . }}
    <meta name="robots" content="index,follow"/>
    {{ end }}
    <title>{{ block "title" . }}
        {{ .Title }}
        {{ end }}
    </title>
    {{ block "description" . }}
    <meta name="description" content="{{ .Params.seo_description }}"/>
    {{ end }}

    {{ block "head" . }}
    {{ partial "head" . }}
    {{ end }}
    {{ block "extra_meta" . }}
    {{ end }}

</head>
{{ block "before_body" .}}
{{ end }}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ .Site.Params.static_domain_prefix }}static/css/all.css"/>
<script src="{{ .Site.Params.static_domain_prefix }}static/js/app.js"></script>
<body class="{{ .Site.Params.css_theme }}">
<style>
    .hidden {
        display: none;
    }
</style>
{{ if .Site.Params.cse }}
<script>
    (function () {
        var cx = '{{ .Site.Params.cse }}';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>
{{ end }}
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.gtm }}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

{{ partialCached "mega-menu-lite.html" . }}

<div id="panel">
    {{ block "header" . }}
    {{ partial "header" . }}
    {{ end }}

    {{ block "top-ad-unit" .}}
    {{ partialCached "top-ad-unit" . }}
    {{ end }}

    {{ block "main" . }}
    {{ end }}

    {{ block "bottom-ad-unit" .}}
    {{ partialCached "bottom-ad-unit" . }}
    {{ end }}

    {{ block "footer" . }}
    {{ partial "footer" . }}
    {{ end }}
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-550719c5027655ed"></script>
</body>
</html>
