{{ define "robotsmeta" }}
<meta name="robots" content="index,follow"/>
{{ end }}

{{ define "title" }}
{{ .Site.Params.title }} | {{ .Title }}
{{ end }}

{{ define "description" }}
<meta name="description" content="Collection of sex nude photoes of celebs starring in films in the {{ .Title }} category, browse for best images and videos" />
{{ end }}

{{ define "paginator" }}
{{ if .InitPaginator }}
{{ $a := .Paginate .AllSubSectionsPagesPageIds }}
{{ end }}
{{ end }}

{{ define "main" }}
    {{ partial "list.html" . }}
{{ end }}
