{{ define "main" }}
<div class="section">
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-8">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        {{ range .AllAboveSectionsPageIds }}
                        {{ $page := $.Site.GetLitePageByPageId . }}
                        {{ if $page }}
                        <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </nav>

                <div class="content">

                    {{ partial (printf "single-page/%s.html" $.Site.Params.single_page.partial) . }}
                    {{ range .Params.tags }}
                    <span class="tag">
                        {{ $tag := $.Site.GetLitePageByPageHumanId . }}
                            <a href="{{ $tag.Permalink }}">{{ $tag.Title }}</a>
                        </span>
                    {{ end }}
                    <hr/>
                    {{ if .Params.related_posts_ids }}
                    {{ if (gt ( len .Params.related_posts_ids ) 0 ) }}
                    <h1 class="is-size-3">{{ T "read_this_next" }}</h1>
                    {{ range .Params.related_posts_ids }}
                    {{ $page := $.Site.GetLitePageByPageHumanId . }}
                    {{ if $page }}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <a href="{{ $page.Permalink }}">
                                    <figure class="image is-128x128">
                                        <img src="{{ $page.Image }}" alt="Image">
                                    </figure>
                                </a>
                            </div>
                            <div class="media-content">
                                <div class="content">

                                    <a href="{{ $page.Permalink }}">
                                        <h2>{{ $page.Title }}</h2>
                                    </a>

                                    <br/>
                                    {{ $page.Summary }}
                                    <br/>
                                    <br/>
                                    <a href="{{ $page.Permalink }}" class="is-bold">
                                        {{ T "read_more" }} ->
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            <div class="column is-4">
                <div class="columns is-multiline">

                    <div class="column is-12">
                        <div class="side-location has-text-centered">
                            {{ partial "side-ad-unit.html" .}}
                        </div>
                    </div>
                    {{ if .Params.related_posts_ids }}
                    {{ if (gt ( len .Params.related_posts_ids ) 0 ) }}
                    <div class="column is-12">

                        <h1 class="is-size-3">{{ T "related_stories" }}</h1>
                        <hr/>

                        {{ range .Params.related_posts_ids }}
                        {{ $page := $.Site.GetLitePageByPageHumanId . }}
                        {{ if $page }}
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <a href="{{ $page.Permalink}}">
                                        <figure class="image is-64x64">
                                            <img src="{{ $page.Image}}" alt="Image">
                                        </figure>
                                    </a>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong><a href="{{ $page.Permalink}}"> {{ $page.Title }}</a></strong>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
                    <div class="column is-12">
                        <div class="has-text-centered">
                            {{ partial "below-related-ad-unit.html" .}}
                        </div>
                    </div>
                    {{ end }}
                    {{ end }}

                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
