{{ define "robotsmeta" }}
{{ if $.Site.Params.noindex }}
<meta name="robots" content="index,follow"/>
{{ else }}
<meta name="robots" content="noindex,follow"/>
{{ end }}
{{ end }}

{{ define "extra_meta" }}
<meta name="o" content="{{ .Params.original_url_encoded }}"/>
{{ end }}

{{ define "main" }}
<main>
    <div class="section">
        <div class="container is-desktop single-page">
            <div class="columns main-content">
                <div class="column is-8">
                    <nav class="breadcrumb font-size-mobile has-dot-separator" aria-label="breadcrumbs">
                        <ul>
                            {{ range .AllAboveSectionsPageIds }}
                            {{ $page := $.Site.GetLitePageByPageId . }}
                            {{ if $page }}
                            <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
                            {{ end }}
                            {{ end }}
                        </ul>
                    </nav>

                    <div class="content">
                        {{ partial (printf "single-page/%s.html" $.Site.Params.single_page.partial) . }}
                        {{ range .Site.Params.after_content_partials}}
                        {{ partial (printf "special/%s.html" .partial ) $ }}
                        {{ end }}
                    </div>
                    {{ if gt (len .Params.tags) 0 }}
                    <div>
                        <span class="is-size-7 has-text-weight-bold is-black">{{ T "tags" }}:</span>
                        {{ range .Params.tags }}
                        {{ $tag := $.Site.GetLitePageByPageHumanId . }}
                        {{ if $tag }}
                        <a class="tag-link is-size-7" href="{{ $tag.Permalink }}">{{ $tag.Title }}</a>,
                        {{ end }}
                        {{ end }}
                    </div>
                    {{ end }}
                    <hr/>
                    <p>
                        {{ partial "ads/containers/related-articles-ad-container.html" . }}
                    </p>
                </div>
                <div class="column is-4 sidebar is-hidden-mobile">
                    <div class="columns is-multiline sidebar__inner">

                        <div class="column is-12">
                            <div class="side-location has-text-centered">
                                {{ partial "ads/containers/side-ad-container.html" .}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ if gt (len .Params.related_posts_ids) 0 }}
    <section class="trending">
        <div class="container is-desktop">
            <div class="columns is-multiline is-vcentered">
                <div class="column is-12 has-text-centered is-bold">
                    <h1 class="header-title is-uppercase">{{ T "read_this_next" }}</h1>
                </div>
                {{ range .Params.related_posts_ids }}
                {{ $page := $.Site.GetLitePageByPageHumanId . }}
                {{ if $page }}
                <div class="column is-4-desktop is-offset-1-mobile is-10-mobile">
                    <div class="parent">
                        <div class="trending-image" style="background-image: url({{ $page.Image }})">
                        </div>
                        <div class="title">
                            <a href="{{ $page.Permalink }}">{{ $page.Title }}</a>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </section>
    {{ end }}

</main>
{{ end }}
