<h3 class="has-text-weight-bold is-size-7"><strong>{{ T "published_on" }} {{ dateFormat "2 January 2006" .Params.publishdate }}</strong></h3>
<div class="content">
    <h1 class="is-family-secondary is-size-1-desktop is-size-3-mobile page-title">{{ .Title }}</h1>
</div>
<div class="addthis_sharing_toolbox"></div>
<img src="{{ .Params.image }}">
{{ partial "ads/containers/above-content-ad-container.html" . }}
{{ partial "products-header.html" . }}

<div class="page-content">
    {{ .Content }}
</div>
{{ partial "ads/containers/below-content-ad-container.html" . }}
