body.nfp {
  .gallery-hover {
    &:hover {
      border: 4px dotted gold;
    }
  }

  .locked-image {
    img {
      filter: blur(0.75em) brightness(40%);
    }
  }

  article {
    .is-64x64 {
      img {
        filter: blur(0.25em) brightness(40%);
      }
    }

    img {
      filter: blur(0.75em) brightness(40%);
    }
  }

  .offer-iframe {
    width: 100%;
    height: 500px;
    border: 1px solid #9eabb3;
  }
}
