.single-page {
  .page-title {
    word-break: break-all;
  }
  .page-title:after {
    background-color: #172dca;
    content: "";
    display: block;
    height: 10px;
    margin: 30px 0 0;
    width: 140px;
  }

  .page-content {
    font-size: 1.15rem
  }

  h1, h2, h3, h4 {
    font-family: "Merriweather", serif !important;
  }
  .tag-link {
    &:hover {
      text-decoration: underline;
    }
    color: #979797;
  }

  .breadcrumb.font-size-mobile {
    @include breakpoint($desktop) {
      font-size: 0.75rem;
    }
    font-size: 1rem;
  }
}
