{{ define "robotsmeta" }}
<meta name="robots" content="index,follow"/>
{{ end }}
{{ define "description" }}
<meta name="description" content="{{ .Site.Params.description }}"/>
{{ end }}


{{ define "paginator" }}
{{ if .InitPaginator }}
{{ if $.Site.Params.homepage_publish_date }}
{{ $a := .Paginate ($.Site.SortLitePagesByPublishDate .AllSubSectionsPagesPageIds) }}
{{ else }}
{{ $a := .Paginate .AllSubSectionsPagesPageIds }}
{{ end }}
{{ end }}
{{ end }}

{{ define "main" }}
<main>
    {{ partial "list.html" . }}
</main>
{{ end }}
